#main-wrapper{
width:500px;
margin: 0 auto;
background:white;
padding:5px;
border-radius:10px;
border:2px solid #95a5a6;
}
.myform{
width:450px;
margin:0 auto;
}
.inputvalues{
width:430px;
margin:0 auto;
padding:5px;
}
.avatar{
width:80px;
text-align:center;
}
#login_btn{
margin-top:10px;
background-color:#27ae60;
padding:5px;
color:white;
width:20%;
text-align:center;
font-size:18px; }
#reg_btn{
margin-bottom:20px;
margin-top:10px;
background-color:#3498db;
padding:5px;
color:white;
width:20%;
text-align:center;
font-size:18px;
font-weight:bold;
}
#signup_btn{
margin-top:10px;
background-color:#3498db;
padding:5px;
color:white;
width:20%;
text-align:center;
font-size:18px;
font-weight:bold;
}
#forgot_btn{
margin-bottom:20px;
margin-top:10px;
background-color:#e74c3c;
padding:5px;
color:white;
width:50%;
text-align:center;
font-size:18px;
font-weight:bold;
}
#reset_btn{
margin-bottom:20px;
margin-top:10px;
background-color:#e74c3c;
padding:5px;
color:white;
width:60%;
text-align:center;
font-size:18px;
font-weight:bold;
}
#logout_btn{
margin-bottom:20px;
margin-top:10px;
background-color:#e74c3c;
padding:5px;
color:white;
width:100%;
text-align:center;
font-size:18px;
font-weight:bold;
}
#apply_online{
margin-top:10px;
background-color:#3498db;
padding:5px;
color:white;
width:100%;
text-align:center;
font-size:18px;
font-weight:bold;
}
#view{
margin-top:10px;
background-color:#27ae60;
padding:5px;
color:white;
width:100%;
text-align:center;
font-size:18px;
font-weight:bold;
}
#save_btn{
margin-bottom:20px;
margin-top:10px;
background-color:#27ae60;
padding:5px;
color:white;
width:30%;
text-align:center;
font-size:18px;
font-weight:bold;
}
#update_btn{
margin-bottom:20px;
margin-top:10px;
background-color:#e74c3c;
padding:5px;
color:white;
width:30%;
text-align:center;
font-size:18px;
font-weight:bold;
}
#finish_btn{
margin-bottom:20px;
margin-top:10px;
background-color:#3498db;
padding:5px;
color:white;
width:30%;
text-align:center;
font-size:18px;
font-weight:bold;
}
#enter{
margin-bottom:20px;
margin-top:10px;
background-color:#27ae60;
padding:5px;
color:white;
width:30%;
text-align:center;
font-size:18px;
font-weight:bold;
}
#delete{
margin-bottom:20px;
margin-top:10px;
background-color:#3498db;
padding:5px;
color:white;
width:30%;
text-align:center;
font-size:18px;
font-weight:bold;
}
#out{
margin-bottom:20px;
margin-top:10px;
background-color:#e74c3c;
padding:5px;
color:white;
width:30%;
text-align:center;
font-size:18px;
font-weight:bold;
}